In [2]:

from haven import haven_jupyter as hj
from haven import haven_results as hr
from haven import haven_utils as hu

# path to where the experiments got saved
savedir_base = '/mnt/public/results/minimal/toolkit'
exp_list = None

# filter exps
# e.g. filterby_list =[{'dataset':'mnist'}] gets exps with mnist
filterby_list = [{'dataset':'mnist'}]

# get experiments
rm = hr.ResultManager(exp_list=exp_list, 
                      savedir_base=savedir_base, 
                      filterby_list=filterby_list,
                      verbose=0,
                      exp_groups=None
                     )

# launch dashboard
# make sure you have 'widgetsnbextension' enabled; 
# otherwise see README.md in https://github.com/haven-ai/haven-ai
figsize = (16, 8)
hj.get_dashboard(rm, vars(), wide_display=True, enable_datatables=False)

100%|██████████| 6/6 [00:00<00:00, 1063.19it/s]

'Selected 2/4 experiments using "filterby_list" from savedir_base "/mnt/public/results/minimal/toolkit"'

VBox(children=(Label(value='Select exp_group', layout=Layout(width='200px')), HBox(children=(Dropdown(layout=L…

Output()

In [2]:
rm.get_score_df()

,exp_id,started_at,dataset,lr,model,yours.lb,yours.name,epoch,acc,acc (max),acc (min),loss,loss (max),loss (min)
3,'167b2f2c9a39fb98de66ae315defd5bd',nan,'syn',0.0001,'linear',NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,'7ca798a5c0fcb60096239b2baa4bea3d','10:22 AM (Nov 15)','syn',0.0010,'linear',3.0,'hello',2.0,0.363376,0.363376,0.168361,1.922072,2.298452,1.922072
1,'a9491824f8c9ddc48560de7f88ca75bd','10:22 AM (Nov 15)','syn',0.0001,'linear',3.0,'hello',2.0,0.088938,0.088938,0.080612,2.381273,2.433072,2.381273
2,'a77c96ee7a4b270c0741e03284c3fa9e','11:16 AM (Nov 16)','syn',0.0010,'linear',NaN,nan,9.0,0.467506,0.467506,0.135975,1.419730,2.377589,1.419730